@charset "UTF-8";
.experience{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}
.experience .subtitle{
    color: var(--c003);
}
.experience-text{
    max-width: 40ch;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    color: var(--c010);
}
.experience-box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background-color: var(--c002);
    margin-bottom: 20px;
    border-radius: 4px;
}
.experience-box::before{
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    left: -4px;
    top: 20px;
}
.experience-box-year{
    position: absolute;
    width: 80px;
    text-align: right;
    top: 22px;
    left: -100px;
    color: var(--c007);
    font-size: 0.875rem;
}
.experience-box-title{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}
.experience-box-text{
    font-size: 0.875rem;
    line-height: 1.4;
    color: var(--c010);
}
.experience-box-technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    list-style: none;
}
.experience-box-technologies-item{
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: var(--c001);
    padding: 5px 10px;
}
@media (max-width: 800px){
    .experience{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experience .subtitle{
        color: var(--c011);
    }
    .experience-text{
        font-size: 1.25rem;
    }
    .experience-box-year{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}
@media (max-width: 400px){
    .experience-box{
        grid-template-columns: 1fr;
    }
}