@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
:root{
    --c001: #ffffff;
    --c002: #f0f0f0;
    --c003: #DEDEDE;
    --c004: #CCCCCC;
    --c005: #B2B2B2;
    --c006: #9C9C9C;
    --c007: #717171;
    --c008: #595959;
    --c009: #404040;
    --c010: #2E2E2E;
    --c011: #141414;
    --c012: #67DD0A;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", sans-serif;
    

}
span.bold{
    font-weight: bold;
    color: var(--c011);
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}
.menu-list{
    display: flex;
    gap: 40px;
}
.menu-list-item{
    list-style: none;
}
.menu-list-item a{
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: var(--c011);
}
.main-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
    max-width: 1200px;
    min-width: 857px;
    margin: 0px auto;
}
.introduction{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin: 0px auto 0px auto;
    padding: 0px 50px;
}
.introduction-photo{
    width: 250px;
    height: 350px;
}
.introduction-description{
    grid-column: 3 / -1;
    grid-row: 1;
    align-self: center;
}
.introduction-description-title{
    position: relative;
    font-size: 4rem;
    line-height: 64px;
    margin-bottom: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.introduction-description-title::before{
    position: absolute;
    content: url(assets/decoracao.svg);
    z-index: -1;
    left: -29px;
    top: -18px;
}
.introduction-description-local{
    font-size: 1.3rem;
}
.experience{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 60px 30px;
    margin: 0px auto 0px auto;
    padding: 0px 50px;
}
.experience-subtitle{
    display: block;
    grid-column: 1;
    grid-row: 1 / span 2;
    font-size: 4.4rem;
    line-height: 1.0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--c003);
}
.experience-subtitle-text{
    text-transform: uppercase;
    width: 250px;
    word-break: break-all;
}
.experience-content{
    grid-column: 3 / -5;
    align-content: center;
}
.experience-phrase{
    font-size: 1.2rem;
    line-height: 1.3;
    max-width: 55ch;
}
.experience-box{
    display: flex;
    justify-content: space-between;
    background-color: var(--c002);
    border: 2px solid var(--c003);
    border-radius: 5px;
}
.experience-box{
    position: relative;
    grid-column: 3 / -1;
    padding: 20px;
}
.experience-box::before{
    position: absolute;
    content: "";
    background-image: linear-gradient(to bottom, #B6F829, #67DD0A);
    width: 8px;
    height: 25px;
    left: -9px;

}
.experience-box-title{
    margin-bottom: 12px;
}
.experience-box-phrase{
    max-width: 60ch;
}
.experience-box-technologies{
    margin-left: 60px;
    max-width: 37ch;
}
.experience-box-technologies-title{
    margin-bottom: 12px;
}
.experience-box-technologies-boxes > .box{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--c001);
}



